<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Meetups application</title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	
	<body>
		<div id = "container" class = "page-header">
			<div class = "row">
				<div class="col-md-6 col-md-offset-3">
					
					<h1>There are meetups this week</h1>
					
				</div>
			</div>
		</div>
		
		<script src="js/vendor/modernizr-2.8.3.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
		
	</body>
</html>
